@import "./../../styles/colors.scss";

.login-container {
  height: 100vh;
  width: 100vw;
}

.login-card-title {
}

.bg-primary {
  background: $blue;
}

.login-mt-1 {
  margin-top: 0.25rem;
}

.login-mt-2 {
  margin-top: 0.5rem;
}
.login-mt-3 {
  margin-top: 1rem;
}
.login-mt-4 {
  margin-top: 1.5rem;
}
.login-mt-5 {
  margin-top: 3rem;
}
.login-margin-bottom {
  margin-bottom: 3rem;
}
