@import "./../../styles/colors.scss";

.activity-right-item {
  text-align: right;
}

.activity-hover-pointer {
  cursor: pointer;
}

.activity-status-not-started {
  background-color: $status-not-started;
}

.activity-status-in-progress {
  background-color: $status-in-progress;
}

.activity-status-delayed {
  background-color: $status-delayed;
}

.activity-status-done {
  background-color: $status-done;
}

.activity-status-dropped {
  background-color: $status-dropped;
}

.activity-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.activity-btn-wrap-top {
  text-align: right;

  .btn-filter {
    margin-left: 0.5rem;
  }
}

.activity-card {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  .ant-card-body {
    padding: 1rem;
  }
  .card-body {
    margin-top: 1rem;
  }
}
.activity-filter {
  transition: all 0.3s ease-in-out;
  height: 100px;
}
.activity-no-filter {
  height: 0;
  overflow: hidden;
}

.activity-title-form-input {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.activity-card-filter {
  margin-bottom: 0.5rem;
}

.activity-full-width {
  width: 100%;
}

.activity-title-task {
  margin-bottom: 0;
  color: $text;
  font-weight: 500;
  font-size: 1.125rem;
}

.activity-text-link {
  color: $text-link;
  font-size: 14px;
  cursor: pointer;
}

.activity-badge {
  width: 0.3rem;
  min-height: 40px;
}

.activity-task-content {
  padding-left: 6px;
  overflow: hidden;
}

.activity-task-title {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity-task-tag {
  background: $bg-project-tag;
  color: white;
  padding: 0.375rem 0.5rem;
  display: inline-block;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.activity-task-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 0.5rem 0;
  background-color: #fff;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background: $blue-hover;
    color: #0056b3;
  }
}

.activity-modal-container {
  .ant-form-item-label {
    line-height: 24px;
  }
}

.activity-table-member-container {
  .ant-avatar {
    line-height: 28px;
    font-size: 14px;
  }
}

.activity-table-member {
  border: 2px solid white;
}

.activity-color1 {
  background-color: #2db7f5;
}

.activity-color2 {
  background-color: #87d068;
}

.activity-color3 {
  background-color: #f50;
}

.activity-color4 {
  background-color: #bfcd27;
}

.activity-table-member-number {
  background-color: #370000;
  border: 2px solid white;
}

.activity-wrap-pagination {
  margin-top: 24px;
}

.activity-table {
  .ant-table-row {
    cursor: pointer;
  }
}

.ant-table-body {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: white;
}
