.kanban-title {
	font-size: 16px;
	color: #57606f;
	font-weight: 500;
	margin-bottom: 12px;
}

.kanban-submit-button {
	background-color: #04a777 !important;
	border-color: #04a777 !important;
	&:hover {
		transition: all 0.5s ease;
		opacity: 0.8;
	}
}
.kanban-new-button-wrapper {
	// position: absolute;
	// bottom: 24px;
	// left: 0;
	// width: 100%;
	// padding: 0 10px;
}
