@import "./../../styles/colors.scss";

.activity-card-filter {
  margin-bottom: 0.5rem;
}

.activity-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.activity-btn-wrap {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.activity-card-filter {
  margin-bottom: 0.5rem;
}

.activity-btn-icon {
  margin-right: 70px;
}

.activity-btn-icon2 {
  margin-right: 70px;
}

.activity-btn-btn1 {
  margin-left: 10px;
}

.activity-btn-btn2 {
  margin-left: 10px;
  margin-top: 1px;

  .btn-filter {
    margin-left: 0.5rem;
  }
}

.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  min-height: 0;
  background-color: #e8ecf5 !important;
}

//Kanban Track
.dUlnjw {
  height: 70vh;
}

//Kanban Body
.kPrVeO {
  background-color: white !important;
  max-height: 62vh;
  overflow-y: auto;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
}

.btn-new-board {
  //   background: $bg-btn-create;
  color: $white;
  font-size: "20px";
  margin: "5px";
}

.dashboard-icon-menu {
  padding: 2px 25px;
}

.icon-menu1 {
  margin: 0 10px;
  font-size: 25px;
}

.hHeYqp {
  box-sizing: border-box;
  max-width: 250px;
  min-width: 250px;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
  border: 1px solid #e8ecf5 !important;
}

.dZzHpD {
  border-bottom: 0px solid #eee;
  padding-bottom: 5px;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.activity-title-form-input {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.activity-modal-container {
  .ant-form-item-label {
    line-height: 24px;
  }
}
