.lane-adder-new {
    min-width: 278px;
    max-width: 278px;
    background-color: #E8ECF5 !important;
    display: inline-block;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    border-radius: 2px;
    background-color: #eee;
    margin: 5px;
    vertical-align: top;
}