$blue: #136df7;
$blue-hover: #eef8ff;
$dark-blue: #011637;
$white: #ffffff;
$border: #e2e5ed;
$icon: #a7a9c0;
$text: #57606f;
$text-link: #007bff;
$status-not-started: #6990eb;
$status-in-progress: #2d95f3;
$status-delayed: #ffd47a;
$status-done: #04a777;
$status-dropped: #ff486c;
$bg-project-tag: #47525e;
$bg-no-widget: #fafafa;
$bg-btn-create: #42e6a4;
