body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  min-height: 100%;
}

.ant-layout-has-sider {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

//Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: #2d95f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d95f3;
}

.no-resize {
  resize: none;
}

.ant-layout-header {
  background-color: white;
}
