@import "./../../styles/colors.scss";

.breadcrumb-container {
  margin-bottom: 12px;
  font-weight: bold;
}

.breadcrumb-aktif {
  color: $blue;
}

.breadcrumb-nonaktif {
  color: black;
  cursor: pointer;
}
