@import "./../../../styles/colors.scss";

.drawer-button-delete-member {
  min-height: 18px !important;
  max-height: 18px !important;
  min-width: 18px !important;
  max-width: 18px !important;
  padding: 0px !important;
  border-radius: 50% !important;
  margin-left: -14px !important;
  top: 18px !important;
  left: -8px !important;
}

.drawer-text-blue {
  color: #136df7;
}

.drawer-avatar {
  color: #f56a00;
  background-color: #fde3cf;
  margin-right: 8px;
}
