

//Kanban Track
.dUlnjw {
	height: 70vh;
}

//Kanban Body
.kPrVeO {
	background-color: #E8ECF5 !important;
	max-height: 62vh;
	overflow-y: auto;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
}