.ant-modal-close {
  top: -18px !important;
  right: -18px !important;
  border-radius: 50%;
  padding: 8px !important;
  border: 1px solid #ebedf2;
  background: white !important;
}

.ant-modal-close-x {
  display: contents !important;
}

.modal-task {
  .ant-modal-body {
    padding: 0px !important;
    // background: #F7F9FC !important;
  }
  .ant-upload.ant-upload-drag {
    margin-top: 40px;
  }
}
