.modal-task-header {
  padding: 1rem 1rem 0;
  border-bottom: 1px solid #ebedf2;
  background: white;
}

.modal-task-aside-header {
  padding: 1rem;
  border-bottom: 1px solid #ebedf2;
}

.modal-task-body {
  background: white;
  max-height: 55vh;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  overflow-y: auto;
}

.modal-task-aside-body {
  background: #f7f9fc;
  height: 58vh;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  overflow-y: auto;
}

.modal-task-footer {
  background: white;
  padding: 1rem;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ebedf2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.modal-task-aside-footer {
  background: #f7f9fc;
  padding: 1rem;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ebedf2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.modal-task-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 0.75rem;
}

.modal-task-detail-title {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.modal-task-detail-meta {
  padding-bottom: 0.75rem;
}

.modal-task-detail-container {
  padding: 0 8px;
  width: 100%;
}

.text-body {
  color: #575962 !important;
}

.text-primary {
  color: #2d95f3 !important;
}

.modal-badge {
  width: 50px;
  height: 6px;
  padding: 5px 8px;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
}

.modal-badge-item {
  display: flex;
  min-width: 165px;
  height: 22px;
  padding: 6px 8px;
  line-height: 0.375rem;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
}

.modal-badge-item-check {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-badge-info {
  color: #fff;
  background: #6990eb !important;
}

.modal-badge-progress {
  color: #fff;
  background: #2d95f3 !important;
}

.modal-badge-delayed {
  color: #fff;
  background: #ffd47a !important;
}

.modal-badge-done {
  color: #fff;
  background: #04a777 !important;
}

.modal-badge-dropped {
  color: #fff;
  background: #ff486c !important;
}

.no-error {
  max-height: 12px;
}

.modal-task-list-group {
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 200px;
  overflow-y: auto;
}

.modal-task-list-item {
  position: relative;
  display: block;
  padding: 5px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ebedf2;
}

.modal-activity-item-header {
  line-height: 1.1;
  margin-bottom: 0.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-task-activity {
  .ant-card-body {
    padding: 8px !important;
    padding-top: 3px !important;
  }

  textarea.ant-input {
    border-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

.resize-none {
  resize: none;
}

.modal-task-textview {
  border-bottom: 0px !important;
  border: none !important;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    border-color: #d9d9d9 !important;
  }
}

.modal-task-comment-container {
  border-radius: 4px;
  border: 1px solid #d9d9d9 !important;
}
