@import "./../../styles/colors.scss";

.header-container {
  background: $white;
  border-bottom: 1px solid $border;
  padding: 0 !important;
}

.header-search-input {
  input {
    border: 0;
    padding-left: 36px !important;
  }
}

.header-right-icon {
  font-size: 18px;
  cursor: pointer;
  margin: 0 4px;
}

.sidebar-sam {
  color: $blue;
  font-weight: bold;
  font-size: 18px;
  margin: 0 24px;
}

.header-icon-menu {
  padding: 0 18px;
  border-left: 1px solid $border;
}

.header-icon-menu-icon {
  // color: $icon !important ;
  font-size: 20px !important;
}

.header-avatar {
  background: $border !important;
}

.header-name-info {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  margin: 0 8px;
  color: #25233a;
}
