@import "./../../styles/colors.scss";

.sidebar-container {
  background: $white;
  border-right: 1px solid $border;
}

.sidebar-row-logo {
  padding: 0px 18px;
  height: 64px;
  border-bottom: 1px solid $border;
}

.sidebar-sam {
  color: $dark-blue;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.sidebar-today {
  color: $blue;
  font-weight: normal;
  margin: 0;
}

.sidebar-row-menu {
  padding: 12px;
}

.sidebar-avatar-icon {
  margin: 0 4px;
  margin-top: 4px;
  cursor: pointer;
}

.sidebar-name {
  font-size: 12px;
  font-weight: bold;
}

.sidebar-action-down-icon {
  font-size: 12px;
  text-align: right;
}

.sidebar-group {
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px !important;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 12px 0px 12px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 12px;
    text-align: right;
    top: 64%;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 12px;
  }
  .group-list {
    color: #8393a4;
    font-weight: 500;
  }
}

.sidebar-title-menu {
  font-weight: bold;
  font-size: 10px;
  padding: 8px 12px;
  margin-top: 24px;
  color: $dark-blue;
}

.sidebar-menu-list {
  padding-left: 12px !important;
  // border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey !important;
  margin-bottom: 10px;
  margin: 30px 0;
}

.sidebar-divider {
  .ant-divider-horizontal {
    margin: 8px 0;
  }
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background-color: white;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 150px;
}
