.kanban-container {
  display: block;
  position: relative;
  min-width: 276px;
  margin-top: 8px;
  padding-left: 0px;
  .ant-card-body {
    cursor: pointer;
    padding: 8px;
    &:hover {
      transition: all 0.2s ease;
      background: #eef8ff;
    }
  }
}
.kanban-body-title {
  margin-top: 10px;
  margin-bottom: 6px;
}
.kanban-avatar-stacked {
  .kanban-avatar {
    margin-right: -0.8em !important;
    box-shadow: 0 0 0 2px #fff;
  }
}
.kanban-task-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.kanban-avatar {
  cursor: pointer;
  width: 27px;
  height: 27px;
  line-height: 27px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 500;
  vertical-align: bottom;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    transition: all 0.5s ease;
    color: #fff;
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.kanban-badge {
  width: 50px;
  height: 6px;
  padding: 0;
  line-height: 0.375rem;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
}

.kanban-badge-info {
  color: #fff;
//   background-color: #6990eb;
}

.kanban-badge-danger {
  color: #fff;
  text-align: left;
  // background-color: #ff486c;
}
